{% extends "base.html" %}

    {% block content %}
        <h1>Add Songs</h1>
        <section class="container">
            <form action="" method="post" class="w-50 py-3 mx-auto border border-4 border-danger p-3">
                <input type="text" name="Title" id="title" placeholder="Song Title" value="{{ request.form[Title] }}" class="form-control my-2">
                <input type="text" name="Artist" id="artist" placeholder="Artist" value="{{ request.form[Artist] }}" class="form-control my-2">
                <input type="text" name="Genre" id="genre" placeholder="Genre" value="{{ request.form[Genre] }}" class="form-control my-2">
    
                <button type="submit" class="btn btn-danger" value="Add Song">Add Song</button>
            </form>
        </section>


    {% endblock %}